li{
    list-style: none;
    padding: 10px;
}
label {
    font-size: 16px;
    display: inline-block;
    width: 80px;
}

input {


}

button {
    margin-left: 80px;
    padding: 5px 20px;
    background-color: white;
    border: 1px solid #999;
}

span {
    display: block;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 5px;
}

.error {
    border: 1px solid red;
}

.correct {
    border: 1px solid green;
}