div#cal-picker{
    width: 300px;
}
div#cal-switch{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
}
table#calender{
    width: 250px;
    margin: 0 auto;
    font-size: 14px;
}

td{
    width: 50px;
    text-align: center;
}
input{
    display: block;
    width: 200px;
    margin: 0px auto;
}

span{
    display: inline-block;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid deepskyblue;
    color: deepskyblue ;
}